@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --surface1: #121212;
  --surface2: #282828;
  --text: #fff;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #282828;
}
